[submodule "vendor/tmux-mem-cpu-load"]
	path = vendor/tmux-mem-cpu-load
	url = git://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
